
.register-section {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 300px;
    height: 49vh;
    border-radius: 25px;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 20px 30px;
    --colorprimary: #3e2a46;
    }   

.usuario {
    margin: 50px 0;
}

.usuario input, .contrasenia input {
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}

.usuario, .contrasenia, .register-section{
    text-align: center;
}

.usuario label , .contrasenia label {
    margin-bottom: 20px;
}

.register-section h2 {
    margin-top: 10px;
    font-size: 20px;
}

.register-section button {
    font-size: 13.3px;
    font-weight: 700;
    background-color: var(--colorprimary);
    color: #fff;
    border-radius: 10px;
    padding: 5px 8px;
    margin-top: 15px;
}

.inputs-labels {
    margin-top: -20px;
}

#heading-2 {
    padding: 10px 0;

    background-color: var(--colorprimary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#heading-2 h2 {
    color: #fff;
}