* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
}
.header .logo a img{
    height: 70px;
    width: auto;
}

.header .logo {
    cursor: pointer;
}
#nav-links li a{
    font-size: 20px;
}

a:visited, a:active, a:link, .nav-links{
    list-style: none;
    text-decoration: none;
}
.nav-links li{
    margin: 0 10px;

}
.nav-links li a {
    color: #2d2e32;
    font-weight: 750;
}
.nav-links{
    display: flex;
    text-decoration: none;
}

.log-in-btn{

    font-weight: 600;
    color: #3e2a46;
    padding: 8px 10px;
    margin-right: 10px;
    border: 1.6px solid #3e2a46;
}

.sign-in-btn {

    font-weight: 600;
    color: #ffffff;
    padding: 8px 10px;
    background-color: #3e2a46;
}

.sign-in-btn, .log-in-btn {
    border-radius: 20px;
}
body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    }  

.main{
    position: relative;
    overflow: hidden;

}

.title{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 62.5px;
    color: #2d2e32;
    margin-top: 12%;
    margin-left: 3%;  
}

.subtitle{
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #46484E;
    margin-left: 3%;
}

.circle {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 50em;
    width: 50em;
    position: absolute; left: 1100px; top: 0px;
    overflow: hidden;
  }


.bar{
    height: 200px;
}
  
