* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
    overflow-y: hidden; 
    overflow-x: hidden; 
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
}
.header .logo a img{
    height: 70px;
    width: auto;
}

.header .logo {
    cursor: pointer;
}
#nav-links li a{
    font-size: 20px;
}

a:visited, a:active, a:link, .nav-links{
    list-style: none;
    text-decoration: none;
}
.nav-links li{
    margin: 0 10px;

}
.nav-links li a {
    color: #2d2e32;
    font-weight: 750;
}

.nav-links li a:hover{
    color: #919296;
    transition: .3s;


}


.nav-links{
    display: flex;
    text-decoration: none;
}

.log-in-btn{
    font-weight: 600;
    color: #3e2a46;
    padding: 6px 27.5px;
    margin-right: 10px;
    border: 1px solid #3e2a46;
}

.log-in-btn:hover{
    background-color: #3e2a46;
    color: #ffffff;
    transition: .3s;
}

.sign-in-btn {
    font-weight: 600;
    color: #ffffff;
    padding: 6px 27.5px;
    background-color: #3e2a46;
    border: 1px solid;
}

.sign-in-btn:hover{
    color: #3e2a46;
    background-color: #ffffff;
    transition: .3s;
    border: 1px solid #3e2a46;

}


.get-btn {
    font-weight: 600;
    color: #ffffff;
    padding: 6px 27.5px;
    background-color: #3e2a46;
    border: 1px solid;
    border-radius: 20px;
    margin-left: 7.5%;  
    display:inline-block;
    margin-top: 1%;
}

.get-btn:hover{
    color: #3e2a46;
    background-color: #ffffff;
    transition: .3s;
    border: 1px solid #3e2a46;
}


.sign-in-btn, .log-in-btn {
    border-radius: 20px;
}


.main{
    position: relative;
    overflow: hidden;

}

.title{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 65px;
    color: #2d2e32;
    margin-top: 12%;
    margin-left: 7.5%;  
}

.subtitle{
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
    font-size: 27.5px;
    color: #46484E;
    margin-left: 7.5%;
    margin-top: .2%;
}

.circle {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    height: 70%;
    width: 55%;
    position: absolute; left: 75%; top: 2.5%;
    overflow: hidden;
}


.bar{
    height: 1000px;
}
  